
@font-face {
    font-family: "jara";
    src: url(../fonts/SplineSansMono-VariableFont_wght.ttf);
}
html {
    font-size: 120%;

}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;

}
p {
    text-align: justify;
    font-family: "jara";
}