@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&family=Poppins:ital,wght@0,200;0,700;1,700&display=swap');


:root {
    --page-background: #ffffff;
    --main-background: #fff200;
    --main-color: #333333;
    --accent-color: #5b6471;
    --link-color: #000000;
    --hover-color: #417f15;
    --normal-gap: 1em;
    --wide-gap: 2em;
    --nav-color: #ffffff;
    
}


html {
    font-family: 'Noto Serif', serif;
    font-size: 100%;
    background-color: var(--page-background);
    color: var(--main-color);
  }

p {
    text-align: justify;
    font-size: 20pt;
}


h1,h2,h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--accent-color);
    border-bottom: thin solid var(--accent-color);
  }
a {
    color: var(--link-color);
    text-decoration: none;
    margin-left: auto;
  }
a:hover {
    background-color: var(--hover-color);
}    


.content-wrapper {
    padding: 1rem;
    background-color: var(--page-background);
    max-width: 960px;
    margin: auto;
    
}

.content-wrapper > * {
    padding: var(--medium-gap);
}
header.page-title {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.page-title h1 {
    color: rgb(255, 255, 255);
    border: none;
    font-size: 12rem;
}
body > nav {
    position: fixed;
    top:0;
    background-color: var(--nav-color);
    left:0;
    right:0;
}

UL.main-menu li{
    display: inline-block;


}
ul.main-menu li a:hover{
    background-color: var(--hover-color);
    color: black;
}

.parallax {
    /* The image used */
    background-image: url("../img/team_girl.jpg");
    
    /* Set a specific height */
    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.footer{
    background-color: var(--main-background);
}
.text{
    

}

