@font-face
{
        font-family: mojeVlastniPismo;
        src: url(../fonts/Heebo-VariableFont_wght.ttf);
}

:root {
    --page-background: #ffffff;
    --main-background: #fff200;
    --main-color: #333333;
    --accent-color: #5b6471;
    --link-color: #000000;
    --hover-color: #9a9e96ae;
    --normal-gap: 1rem;
    --wide-gap: 2rem;
    --nav-color: #ffffff;
    --color-black: #000000;
    --color-white: #ffffff;
}
html {

    font-family: mojeVlastniPismo;
    background-color: var(--page-background);
    color: var(--main-color);
  }

p {
    text-align: justify;
    font-size: 1.5rem;
    color: var(--accent-color);
}

@media(max-width: 500px){
    p{
        font-size: 0.8rem;
    }
}

h2,h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: var(--accent-color);
    border-bottom: thin solid var(--accent-color);
  }
a {
    color: var(--link-color);
    text-decoration: none;
    margin-left: auto;
  }
a:hover {
    background-color: var(--hover-color);
}    


.content-wrapper {
    padding: 1rem;
    background-color: var(--page-background);
    max-width: 900px;
    margin: auto;
}

.content-wrapper > * {
    padding: var(--medium-gap);
}
header.page-title {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}
section h2{
    color: var(--color-black);
    font-size: 3rem;
}
header.page-title h1 {
    color: var(--color-white);
    border: none;
    font-size: 12rem;
    font-family: 'Poppins', sans-serif;
}

@media(max-width: 900px){
    header.page-title h1{
        font-size: 8rem;
    }
}
@media(max-width: 600px){
    header.page-title h1{
        font-size: 4rem;
    }
}

body > nav {
    position: fixed;
    top:0;
    background-color: var(--nav-color);
    left:0;
    right:0;
}

ul.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
UL.main-menu li{
    display: inline-block;
}
ul.main-menu li a {
    padding: 1rem;
    display: block;
    text-decoration: none;
        
}


ul.main-menu li a:hover{
    background-color: var(--hover-color);
    color: var(--color-black);
}


.parallax {
    /* The image used */
    background-image: url("../img/team_girl.jpg");
    
    /* Set a specific height */
    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax_2 {
    /* The image used */
    background-image: url("../img/Contact.jpg");
    
    /* Set a specific height */
    height: 100vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
footer{
    width: 100%;
    background-color: var(--page-background);
    justify-content: center;
    border-top: thin solid var(--hover-color);
}
footer p a{
    text-align: center;
    font-size: 1rem;
    color: var(--hover-color);
    margin: 0;
    padding: 0.5rem;

}

[onunload] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }
  .space-gallery {
    margin-top: 10%;
    padding: 2.5%;
    height: 25%;
    margin-left: 0;
    margin-right: 0;
    color: var(--text-p);
    background-color: var(--navbar);
  }

  .galerie{
    display: flex;
    flex-direction: row;
 }
 div.gallery-box{
    width: 50%;
    }
    div.gallery p {
        font-size: 1.5rem;
        margin-bottom: 0%;
        color: var(--text-nav);
        font-family: popins;
        text-align: center;
    }
    
    div.gallery {
        margin: 1.8%;
        float: left;
        width: 100%;
    }
    div.gallery-box {
        height: 70%;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-wrap: row;
    }
    
    @media( max-width: 800px) {
        div.gallery-box{
            flex-wrap: none;
            width: 45%;
            margin: auto;
            display: block;
        }
        .space-gallery{
            height: 80%;
        }
        div.gallery p{
            font-size: 1rem;
        }
    }
      
    .gallery img {
        flex-basis: 25%;
        width: 100%;
    }
      
    .gallery p {
        font-size: 80%;
    }
    
    .gallery-image{
        border: 0.2rem solid var(--text-h1);
        transition: all 0.2s ease;
        border-radius: 0.5rem;
    }
    
    .gallery-image:hover{
        border-radius: 0.5rem;
        justify-content: center;
        border: 0.2rem solid var(--text-h1);
        box-shadow: 0px 0px 30px var(--text-h1);
        margin: 2.5%;
        width: 95%;
    }   